<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>Library</h2>
    <h3>List of authors</h3>
    <a href="/authors/add">Add a new author</a>
    <br>

    <ul>
    <% for(author of authors){ %>
      <a href="/authors/<%=author.id%>"><h4>NAME: <%=author.name%></h4></a>
      <p>AGE: <%=author.age%></p>
      <form action="/authors/<%=author.id%>/edit">
           <input type="submit" value="Edit author info" />
      </form>
      <form method="POST" action="/authors/<%=author.id%>?_method=DELETE">
           <button type="submit">Remove author</button>
      </form>
    <% } %>
  </ul>
  <form method="GET" action="/authors/create">
    <button type="submit">Create a new author</button>
  </form>
  </body>
</html>
